.MuiPaper-root.MuiPaper-root {
  box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
}
.MuiCardContent-root.MuiCardContent-root,
.MuiCardHeader-root.MuiCardHeader-root {
  padding: 1.25rem;
}
.MuiCardContent-root .MuiCardHeader-root {
  padding: 0;
}

/* Make All Row Items The Same Height */
.MuiGrid-item > * {
  height: 100%;
}

/* -------- */
.MuiPaper-root.MuiPaper-root {
  background-image: none;
}
